.headerTopmenuCommonListItem {
    display: inline;
    //background-color: chartreuse;

    .headerTopmenuCommonLink {

        padding: 0 0 0 15px;
        text-decoration: none;
        color: rgba(255, 255, 255, 1);
        height: 32px;
    }
}

