/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

a {
  cursor: pointer;
  background-color: transparent;
  text-decoration: none;
}

input[type="search"] {
  -webkit-appearance: none;
}

input[type="search"]::-ms-clear { /* нестандартный псевдоэлемент IE */
  display: none;
}

input[type="search"]::-webkit-search-cancel-button { /* нестандартный псевдоэлемент WebKit/Blink, но Esc по-прежнему будет удалять раннее введённый текст */
  display: none;
}

input::-webkit-input-placeholder {
  color: rgb(154, 154, 154);
}

input::-moz-placeholder {
  color: rgb(154, 154, 154);
}

input:-ms-input-placeholder {
  color: rgb(154, 154, 154);
}

.App {
  text-align: center;
  background-color: rgb(239, 239, 239);

  .header {
    // тень после блока header
    box-shadow: rgba(0, 0, 0, 0.14) 0 1px 24px 0;
    font-size: 14px;
    margin-bottom: 16px;
    position: relative;
    z-index: 1001;
    background: rgb(246, 246, 246);
    transition: padding-top 0.1s ease 0s;

    li {
      font-size: 14px;
      padding-top: 7px;
    }

    .header-topmenu {
      width: 100%;
      height: 33px;
      color: rgb(255, 255, 255);
      background: rgb(252, 133, 7);

      .header-topmenu-container {
        height: 33px;
        display: flex;
        //margin: 0 352px;
        margin: 0 361px;

        .header-topmenu-common-list {
          display: flex;
          width: 933px;
          list-style-type: none;

          .header-topmenu-common-list-item {
            display: inline;
            list-style-type: none;

            .select-city-widget {
              width: 285px;

              .select-city-widget-label {
                display: flex;

                .select-city-hover {
                  display: flex;

                  .location-icon {
                    margin: 0 5px 0 0;

                    &::before {
                      content: "\e939";
                      speak: none;
                      display: inline-block;
                      font-family: i-icon!important;
                      font-style: normal;
                      font-variant: normal;
                      font-weight: 400;
                      line-height: 1;
                      text-transform: none;
                    }
                  }

                  p {
                    margin: 0 0 0 5px;
                    cursor: pointer;
                  }

                  &:hover {
                    color: rgb(252, 203, 121);
                  }
                }
              }
            }
          }

          .header-topmenu-common-list-item-dropdown {
            width: 120px;
            padding: 7px 0 0;
            z-index: 9999;
            //&:hover {
            //  color: rgb(252, 203, 121);
            //}

            .header-top-menu-dropdown-icon {
              display: inline-block;

              &::before {
                font-family: 'i-icon';
                content: "\e259";
              }
            }

            .header-top-menu-dropdown-icon-rotate {
              display: inline-block;
              transform: rotate(180deg);

              &::before {
                font-family: 'i-icon';
                content: "\e259";
              }
            }

            .header-topmenu-common-link {
              //text-decoration: none;
              cursor: pointer;
              color: rgb(255, 255, 255);
              padding: 0 0 0 15px;
              &:hover {
                color: rgb(252, 203, 121);
              }
            }

            .header-topmenu-common-list-item-dropdown-childs {
              position: absolute;
              left: 670px;
              margin-top: 5px;
              border: 1px #b9b9b9 solid;
              border-radius: 3px;

              &:after {
                //display: none;
                border-color: transparent transparent #fff;
                border-style: solid;
                border-width: 10px 15px;
                content: "\A";
                left: calc(50% - 15px);
                position: absolute;
                top: -20px;
                cursor: pointer;
              }
            }
          }
        }

        .header-topmenu-profile-list {
          display: flex;

          .header-topmenu-profile-list-item {
            display: inline;
            list-style-type: none;
            font-size: 14px;

            .header-topmenu-profile-list-item-span-phone {
              font-weight: 700;
            }

            @media (min-width: 992px) {
              .header-topmenu-profile-list-item-span-phone:before {
                margin-right: 2px;
              }
            }

            @media (min-width: 992px) {
              .header-topmenu-profile-list-item-span-phone {
              }

              &::before {
                font-family: i-icon;
                content: '\e92f';
                padding-right: 2px;
                display: inline-block;
                font-style: normal;
                font-variant: normal;
                font-weight: 400;
                line-height: 1;
                text-transform: none;
              }
            }
          }
        }
      }
    }

    .header-bottom-slide {
      background-color: rgb(255, 255, 255);
      box-sizing: content-box;
      height: 64px;
      top: -52.8px;
      z-index: 1000;
      transition: background 0.2s ease-out 0s;

      .header-search-container {
        width: 1200px;
        height: 64px;
        position: relative;
        text-align: left;
        //margin: 0 342px;
        margin: 0 351px;
        padding: 0 10px;

        .header-menu-wrapper {
          display: flex;
          white-space: nowrap;
          flex-flow: row;

          .logo-container {
            //width: 120px;
            //height: 64px;
            box-sizing: content-box;
            float: left;
            max-height: 64px;
            max-width: 280px;
            padding-bottom: 0;
            text-align: left;

            .logo {
              display: inline-block;
              height: 64px;
            }

            @media (min-width: 992px) {
              .logo {
                vertical-align: middle;
                width: 120px;
                background: url(icons/header/bns.svg) 0 center no-repeat;
                transition: all 0.3s ease-in 0s;
              }
            }
          }

          .presearch {
            box-sizing: border-box;
            display: inline-block;
            height: 64px;
            width: 100%;
            padding: 12px 20px;
            //background-color: yellow;

            .ui-input-search-presearch {
              box-sizing: border-box;
              line-height: 40px;
              //background-color: blue;
              border-radius: 8px;
              background: rgb(242, 242, 242);

              &:hover {
                background: rgb(255, 255, 255);
                transition: all 0.1s ease-in 0s;
                box-shadow: rgba(0, 0, 0, 0.14) 0 3px 7px 2px;
              }

              .ui-input-search {
                //background: brown;
                width: 575px;
                background: none;
                border: none;
                height: 34px;
                outline: none;
                padding: 0 80px 0 12px;
                transition: background 0.3s ease 0s;
                font-size: 15px;
              }

              .presearch-suggests-hidden {
                display: none;
              }

              .ui-input-search-buttons {
                display: inline-block;
                color: rgb(154, 154, 154);
                //background-color: yellow;

                .ui-input-search-icon-clear {
                  
                  &::before {
                    speak: none;
                    display: inline-block;
                    font-family: i-icon!important;
                    font-style: normal;
                    font-variant: normal;
                    font-weight: 400;
                    line-height: 1;
                    text-transform: none;
                  }
                }

                .ui-input-search-icon-search {

                  &::before {
                    content: "\e930";
                    speak: none;
                    display: inline-block;
                    font-family: i-icon!important;
                    font-size: 20px;
                    font-style: normal;
                    font-variant: normal;
                    font-weight: 400;
                    line-height: 1;
                    text-transform: none;
                  }
                }

                &:hover {
                  //color: yellow;
                  color: rgb(51, 51, 51);
                  cursor: pointer;
                }
              }
            }
          }

          .buttons {
            padding: 18px 0;
            background-color: blue;

            .ui-link-compare-link {
              font-size: 15px;

              .compare-link-badge-empty {
                display: none;
              }

              .compare-link-badge {
                align-items: center;
                background-image: linear-gradient(rgb(255, 188, 11), rgb(255, 116, 0));
                color: rgb(255, 255, 255);
                font-size: 12px;
                font-weight: bolder;
                height: 20px;
                justify-content: center;
                left: 8px;
                line-height: 20px;
                min-width: 20px;
                position: absolute;
                text-align: center;
                top: -12px;
                border-radius: 20px;
                padding: 0 5px;
              }

              .compare-link-icon {
                color: rgb(175, 175, 175);
                font-size: 21px;

                &::before {
                  content: "\e90e";
                  speak: none;
                  display: inline-block;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 1;
                  text-transform: none;
                  font-family: i-icon !important;
                  font-variant: normal;
                }
              }

              .compare-link-label {
                margin-left: 8px;
                color: #333333;

                &:hover {
                  color: rgb(252, 88, 8);
                }
              }
            }

            .ui-link-wishlist-link {
              font-size: 15px;
              margin: 0 0 0 20px;

              .wishlist-link-badge-empty {
                display: none;
              }

              .wishlist-link-badge {
                align-items: center;
                background-image: linear-gradient(rgb(255, 188, 11), rgb(255, 116, 0));
                color: rgb(255, 255, 255);
                font-size: 12px;
                font-weight: bolder;
                height: 20px;
                justify-content: center;
                left: 8px;
                line-height: 20px;
                min-width: 20px;
                position: absolute;
                text-align: center;
                top: -12px;
                border-radius: 20px;
                padding: 0 5px;
              }

              .wishlist-link-icon {
                color: rgb(175, 175, 175);
                font-size: 21px;

                &::before {
                  content: "\ea10";
                  speak: none;
                  display: inline-block;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 1;
                  text-transform: none;
                  font-family: i-icon !important;
                  font-variant: normal;
                }
              }

              .wishlist-link-label {
                margin-left: 8px;
                color: #333333;

                &:hover {
                  color: rgb(252, 88, 8);
                }
              }
            }

            .ui-link-cart-link {
              font-size: 15px;
              margin: 0 0 0 20px;

              .cart-link-badge-empty {
                display: none;
              }

              .cart-link-badge {
                align-items: center;
                background-image: linear-gradient(rgb(255, 188, 11), rgb(255, 116, 0));
                color: rgb(255, 255, 255);
                font-size: 12px;
                font-weight: bolder;
                height: 20px;
                justify-content: center;
                left: 8px;
                line-height: 20px;
                min-width: 20px;
                position: absolute;
                text-align: center;
                top: -12px;
                border-radius: 20px;
                padding: 0 5px;
              }

              .cart-link-icon {
                color: rgb(175, 175, 175);
                font-size: 21px;

                &::before {
                  content: "\e94b";
                  speak: none;
                  display: inline-block;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 1;
                  text-transform: none;
                  font-family: i-icon !important;
                  font-variant: normal;
                }
              }

              .cart-link-label {
                margin-left: 8px;
                color: #333333;

                &:hover {
                  color: rgb(252, 88, 8);
                }
              }
            }
          }

          @media (min-width: 768px) {
            .buttons {
              display: inline-block;
              vertical-align: top;
              background-color: transparent;
              box-sizing: border-box;
              float: none;
              text-align: left;
              white-space: nowrap;
              margin: 0;
            }
          }

          @media (min-width: 1200px) {
            .buttons {
              height: 64px;
              width: calc(100% - 856px);
            }
          }

          .header_user-menu {
            margin-left: 20px;
            //cursor: pointer;
            //display: inline-block;
            //height: 64px;
            //margin: 0 0 0 20px;
            //position: relative;
            //vertical-align: top;
            //width: 64px;

            .user-menu {
              display: flex;
              padding-top: 12px;
              position: relative;
              vertical-align: top;
              width: 64px;

              .user-profile__counter {
                box-sizing: border-box;
                height: 23px;
                max-width: fit-content;
                min-width: 23px;
                position: absolute;
                right: 14px;
                top: 6px;
                border-width: 3px;
                border-style: solid;
                border-color: rgb(255, 255, 255);
                border-image: initial;
                transition: all 0.4s ease 0s, opacity 0.4s ease-in-out 0s;
              }

              .user-notification__counter {
                background-color: rgb(255, 163, 25);
                color: rgb(255, 255, 255);
                font-size: 13px;
                font-weight: 700;
                z-index: 5;
                border-radius: 50px;
                padding: 0 5px;
              }

              .user-profile__login {
                font-size: 15px;
                padding-top: 8px;

                .user-profile__login-icon {
                  color: rgb(175, 175, 175);
                  font-size: 19px;
                  margin-right: 8px;

                  &::before {
                    content: "";
                    speak: none;
                    display: inline-block;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 1;
                    text-transform: none;
                    font-family: i-icon !important;
                    font-variant: normal;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .container {
    //background-color: coral;
    box-sizing: content-box;
    margin-left: auto;
    margin-right: auto;
    min-height: 75%;

    .homepage-top-grid {
      width: 1180px;
      height: 720px;
      margin-bottom: 48px;
      //background-color: cadetblue;

      .homepage-top-grid-menu {
        width: 280px;
        height: 720px;
        //background-color: brown;

        .menu-desktop {
          display: flex;
          flex-direction: column;
          height: 720px;
          position: relative;
          width: 100%;
          background: #ffffff;
          border-radius: 8px;
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16);

          .menu-desktop-root:first-child {
            margin-top: 9px;
          }

          .menu-desktop-root {
            align-items: center;
            display: flex;
            flex: 1;
            margin: 0 -1px;
            //max-height: 65px;
            max-height: 59px;
            padding: 0 24px;
            width: calc(100% + 2px);

            &:before {
              content: "";
              display: inline-block;
              height: 100%;
              vertical-align: middle;
            }

            .menu-desktop-root-icon {
              background-image: url(/icons/body/appliances.svg);
              background-position: 50%;
              background-repeat: no-repeat;
              background-size: contain;
              display: inline-block;
              height: 25px;
              margin-right: 24px;
              text-align: center;
              vertical-align: middle;
              width: 25px;
            }

            .menu-desktop-root-info {
              display: inline-block;
              line-height: 1.1em;
              vertical-align: middle;
              width: calc(100% - 52px);
              text-align: left;

              .ui-link-menu-desktop-root-title {
                //font-size: 16px;
                font-size: 14px;
                color: #333;
                text-decoration: none;
                transition-duration: .3s;
                transition-property: color;

                &:hover {
                  color: rgb(252, 88, 8);
                }
              }

              .menu-desktop-root-subtitles {
                //font-size: 14px;
                font-size: 12px;
                height: 1.2em;
                overflow: hidden;
                word-break: keep-all;

                .ui-link-menu-desktop-root-subtitle-left {
                  color: #888;
                  display: inline-block;
                  text-decoration: none;
                  transition-duration: .3s;
                  transition-property: color;

                  &:hover {
                    color: rgb(252, 88, 8);
                  }
                }

                .ui-link-menu-desktop-root-subtitle-right {
                  color: #888;
                  display: inline-block;
                  text-decoration: none;
                  transition-duration: .3s;
                  transition-property: color;
                  margin-left: 8px;

                  &:hover {
                    color: rgb(252, 88, 8);
                  }
                }
              }

              .menu-desktop-root-subtitle+.menu-desktop-root-subtitle {
                margin-left: 8px;
              }
            }
          }

          .menu-desktop-root-markdown {
            border-top: 1px solid rgb(238, 238, 238);
            align-items: center;
            display: flex;
            flex: 1;
            margin: 0 -1px;
            max-height: 59px;
            padding: 0 24px;
            width: calc(100% + 2px);

            &:before {
              content: "";
              display: inline-block;
              height: 100%;
              vertical-align: middle;
            }

            .menu-desktop-root-icon {
              background-image: url(/icons/body/appliances.svg);
              background-position: 50%;
              background-repeat: no-repeat;
              background-size: contain;
              display: inline-block;
              height: 25px;
              margin-right: 24px;
              text-align: center;
              vertical-align: middle;
              width: 25px;
            }

            .menu-desktop-root-info {
              display: inline-block;
              line-height: 1.1em;
              vertical-align: middle;
              width: calc(100% - 52px);
              text-align: left;

              .ui-link-menu-desktop-root-title {
                //font-size: 16px;
                font-size: 14px;
                color: #333;
                text-decoration: none;
                transition-duration: .3s;
                transition-property: color;

                &:hover {
                  color: rgb(252, 88, 8);
                }
              }
            }
          }
        }
      }

      @media (min-width: 1200px) {
        .homepage-top-grid-menu {
          display: flex;
          flex-basis: 280px;
          flex-grow: 0;
          flex-shrink: 0;
          max-width: 280px;
        }
      }

      .homepage-top-grid-center {
        width: 880px;
        height: 720px;
        background-color: blueviolet;
      }
    }

    @media (min-width: 992px) {
      .homepage-top-grid {
        margin-bottom: 48px;
      }
    }

    @media (min-width: 1200px) {
      .homepage-top-grid {
        min-height: 680px;
      }
    }

    @media (min-width: 992px) {
      .homepage-top-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        margin: 0 auto;
      }
    }

    .homepage-stories-desktop {
      width: 1180px;
      height: 283px;
      margin-bottom: 48px;
      background-color: blue;

      .homepage-stories {
        width: 100%;
      }
    }

    .homepage-actual-offers-category-block {
      width: 1180px;
      height: 519px;
      margin-bottom: 48px;
      background-color: darkslateblue;
    }

    .homepage-benefits {
      width: 1180px;
      height: 190px;
      margin-bottom: 48px;
      background-color: cornflowerblue;
    }

    .viewed-products-slider {
      width: 1180px;
      height: 455px;
      margin-bottom: 48px;
      background-color: chartreuse;
    }
  }

  @media (min-width: 1200px) {
    .container {
      max-width: 1180px;
      padding: 0 10px;
    }
  }

  .main-footer {
    width: 100%;
    //width: 1546px;
    height: 560px;
    margin-top: 30px;
    background: rgb(51, 51, 51);
  }
}
