/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

.App {
  text-align: center;
  background-color: rgb(239, 239, 239);

  .header {
    // тень после блока header
    box-shadow: rgba(0, 0, 0, 0.14) 0 1px 24px 0;
    font-size: 14px;
    margin-bottom: 16px;
    position: relative;
    z-index: 1001;
    background: rgb(246, 246, 246);
    transition: padding-top 0.1s ease 0s;

    li {
      font-size: 14px;
      padding-top: 7px;
    }

    .header-topmenu {
      width: 100%;
      height: 33px;
      color: rgb(255, 255, 255);
      background: rgb(252, 133, 7);

      .header-topmenu-container {
        height: 33px;
        display: flex;
        margin: 0 352px;

        .header-topmenu-common-list {
          display: flex;
          width: 933px;
          list-style-type: none;

          .header-topmenu-common-list-item {
            display: inline;
            list-style-type: none;

            .select-city-widget {
              width: 285px;

              .select-city-widget-label {
                display: flex;

                p {
                  cursor: pointer;
                  &:hover {
                    color: rgb(252, 203, 121);
                  }
                }
              }
            }
          }

          .header-topmenu-common-list-item-dropdown {
            width: 120px;
            padding: 7px 0 0;
            z-index: 9999;
            //&:hover {
            //  color: rgb(252, 203, 121);
            //}

            .header-top-menu-dropdown-icon:before {
              font-family: 'FontAwesome';
              content: '   \f106';
            }

            .header-topmenu-common-link {
              //text-decoration: none;
              cursor: pointer;
              color: rgb(255, 255, 255);
              padding: 0 0 0 15px;
              &:hover {
                color: rgb(252, 203, 121);
              }
            }

            .header-topmenu-common-list-item-dropdown-childs {
              //display: none;
              //display: block;
              //visibility: hidden;
              position: absolute;
              left: 670px;
              margin-top: 5px;
              border: 1px #b9b9b9 solid;
              border-radius: 3px;
              //&:hover {
              //  color: rgb(252, 203, 121);
              //}

              &:after {
                //display: none;
                border-color: transparent transparent #fff;
                border-style: solid;
                border-width: 10px 15px;
                content: "\A";
                left: calc(50% - 15px);
                position: absolute;
                top: -20px;
                cursor: pointer;
              }
            }
          }
        }

        .header-topmenu-profile-list {
          display: flex;

          .header-topmenu-profile-list-item {
            display: inline;
            list-style-type: none;
            font-size: 14px;

            .header-topmenu-profile-list-item-span-phone {
              font-weight: 700;
            }

            @media (min-width: 992px) {
              .header-topmenu-profile-list-item-span-phone:before {
                margin-right: 2px;
              }
            }

            @media (min-width: 992px) {
              .header-topmenu-profile-list-item-span-phone {
              }

              &::before {
                font-family: 'FontAwesome';
                content: '\f095';
                color: rgb(252, 133, 7);
                padding-right: 5px;
                text-shadow: 1px 0 1px #ffffff,
                0 1px 1px #ffffff,
                -1px 0 1px #ffffff,
                0 -1px 1px #ffffff;
              }
            }

            @media (min-width: 992px) {
              .header-topmenu-profile-list-item-span-phone:before {
                //speak: none;
                display: inline-block;
                //font-family: i-icon!important;
                font-style: normal;
                font-variant: normal;
                font-weight: 400;
                line-height: 1;
                text-transform: none;
              }
            }
          }
        }
      }
    }

    .header-bottom-slide {
      background-color: rgb(255, 255, 255);
      box-sizing: content-box;
      height: 64px;
      top: -52.8px;
      z-index: 1000;
      transition: background 0.2s ease-out 0s;
      //border: 2px black solid;
      //box-shadow: 0 10px 15px rgba(98, 97, 97, 0.2);
      //box-shadow: rgba(0, 0, 0, 0.14) 0 1px 24px 0;

      .header-search-container {
        height: 64px;
        position: relative;
        margin: 0 342px;

        .header-menu-wrapped {
          display: flex;
          flex-flow: row;
          white-space: nowrap;

          .logo-container {
            box-sizing: content-box;
            float: left;
            max-height: 64px;
            max-width: 280px;
            padding-bottom: 0;
            text-align: left;

            .logo {
              display: inline-block;
              height: 64px;
            }

            @media (min-width: 992px) {
              .logo {
                background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='120' height='31' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M31.295 15.084a7.529 7.529 0 0 0-2.22-5.358 7.529 7.529 0 0 0-5.358-2.22H7.507V22.662h16.21a7.53 7.53 0 0 0 5.359-2.22 7.527 7.527 0 0 0 2.219-5.357Zm7.507 0c0 8.33-6.754 15.084-15.085 15.084H0V0h23.717c8.331 0 15.085 6.753 15.085 15.084Zm78.444-.985a9.378 9.378 0 0 0-6.649-2.754v.012H90.639a1.936 1.936 0 0 1-1.934-1.934c0-1.066.867-1.934 1.934-1.934h23.655a3.736 3.736 0 1 0 0-7.472H90.639c-1.268 0-2.5.25-3.663.741a9.368 9.368 0 0 0-2.988 2.014 9.375 9.375 0 0 0-2.014 2.989 9.351 9.351 0 0 0-.741 3.662c0 1.268.25 2.5.741 3.662a9.366 9.366 0 0 0 2.014 2.989 9.374 9.374 0 0 0 6.651 2.755h19.958v-.012c1.065 0 1.931.866 1.931 1.93a1.933 1.933 0 0 1-1.931 1.932H84.969a3.736 3.736 0 1 0 0 7.472h25.628a9.376 9.376 0 0 0 6.649-2.754 9.37 9.37 0 0 0 2.013-2.988 9.336 9.336 0 0 0 .741-3.661 9.375 9.375 0 0 0-2.754-6.649ZM71.876 0h7.472v26.415a3.736 3.736 0 0 1-6.378 2.641l-24.917-18.01v19.122H40.58V3.753a3.736 3.736 0 0 1 6.378-2.641l24.917 18.01V0Z' fill='%23FC8507'/%3E%3C/svg%3E");
                background-position-x: 0;
                background-position-y: center;
                background-size: initial;
                background-attachment: initial;
                background-origin: initial;
                background-clip: initial;
                background-color: initial;
                transition-property: all;
                transition-duration: 0.3s;
                transition-timing-function: ease-in;
                transition-delay: 0s;
                vertical-align: middle;
                width: 120px;
              }
            }
          }

          @media (min-width: 768px) {
            .logo-container {
              display: inline-block;
              vertical-align: top;
            }
          }
        }
      }

      @media (min-width: 1200px) {
        .header-search-container {
          max-width: 1180px;
          padding: 0 10px;
        }
      }
    }
  }

  .container {
    background-color: coral;
    box-sizing: content-box;
    margin-left: auto;
    margin-right: auto;
    min-height: 75%;

    .homepage-top-grid {
      width: 1180px;
      height: 720px;
      margin-bottom: 48px;
      background-color: cadetblue;

      .homepage-top-grid-menu {
        width: 280px;
        height: 720px;
        background-color: brown;
      }

      @media (min-width: 1200px) {
        .homepage-top-grid-menu {
          display: flex;
          flex-basis: 280px;
          flex-grow: 0;
          flex-shrink: 0;
          max-width: 280px;
        }
      }

      .homepage-top-grid-center {
        width: 880px;
        height: 720px;
        background-color: blueviolet;
      }
    }

    @media (min-width: 992px) {
      .homepage-top-grid {
        margin-bottom: 48px;
      }
    }

    @media (min-width: 1200px) {
      .homepage-top-grid {
        min-height: 680px;
      }
    }

    @media (min-width: 992px) {
      .homepage-top-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        margin: 0 auto;
      }
    }

    .homepage-stories-desktop {
      width: 1180px;
      height: 283px;
      margin-bottom: 48px;
      background-color: blue;

      .homepage-stories {
        width: 100%;
      }
    }

    .homepage-actual-offers-category-block {
      width: 1180px;
      height: 519px;
      margin-bottom: 48px;
      background-color: darkslateblue;
    }

    .homepage-benefits {
      width: 1180px;
      height: 190px;
      margin-bottom: 48px;
      background-color: cornflowerblue;
    }

    .viewed-products-slider {
      width: 1180px;
      height: 455px;
      margin-bottom: 48px;
      background-color: chartreuse;
    }
  }

  @media (min-width: 1200px) {
    .container {
      max-width: 1180px;
      padding: 0 10px;
    }
  }

  .main-footer {
    width: 100%;
    //width: 1546px;
    height: 560px;
    margin-top: 30px;
    background: rgb(51, 51, 51);
  }
}
