@font-face {
    font-family: 'FontAwesome';
    src: url(./fonts/font-awesome/fonts/fontawesome-webfont.ttf) format('truetype');
}

body {
    min-width: 320px;
    margin: 0;
    background-color: rgb(246, 246, 246);
    /*background-color: rgb(241, 62, 62);*/
    color: rgb(51, 51, 51);
    font-family: "PT Sans", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.42857;
    min-height: 100%;
    overflow-x: hidden;
    width: 100%;
}